*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font: 90% Roboto, Arial, sans-serif;
}

body {
    color: white;
}

p {
    padding: 0 10px;
}

ul li {
    padding-right: 10px;
    line-height: 1.6;
}

h3 {
    padding: 5px 20px;
    margin: 0;
}

div#header {
    position: relative;
}

div#header h1 {
    height: 80px;
    line-height: 80px;
    margin: 0;
    padding-left: 10px;
    background: white;
    color: #333;
}

div#header a {
    position: absolute;
    right: 0;
    top: 23px;
    padding: 10px;
    color: lightblue;
}

div#navigation {
    background: #7cb71c;
}

div#navigation li {
    list-style: none;
}

div#extra {
    background: #147FA9;
}

div#footer {
    background: #42444e;
    color: #fff;
}

div#footer p {
    padding: 20px 10px;
}

div#wrapper {
    float: left;
    width: 100%;
    margin-left: -200px
}

div#content {
    margin-left: 200px
}

div#navigation {
    float: right;
    width: 200px
}



