<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1 class="logo">
            <a href="index.html">Appland</a>
        </h1>
<div class="link">
            <li><a href="home.html"><b>Home</b></a></li>
            <li><a href="appfeatures.html"><b>AppFeatures</b></a></li>
            <li><a href="gallery.html"><b>Gallery</b></a></li>
            <li><a href="pricing.html"><b>Pricing</b></a></li>
            <li><a href="faq.html"><b>FAQ</b></a></li>
            <!-- <span>DropDown</span>
                <ul>
                    <li>1</li>
                    <li>2</li>
                </ul> -->
            <li><a href="contact.html"><b>Contact</b></a></li>
            <li><a class="getstarted" href="getstarted">Get Started</a></li>
        </div>
    </header>
    <div class="glavni">
    <div class="image"><img src="main.png" alt=""></div>
    <div class="text">
        <h1>Voluptatem dignissimos provident quasi<br>corporis voluptates sit assumenda.</h1>
        <ol><i>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et<br> dolore magna aliqua.</i></ol>
            
            <ol>&#x2713 Ullamco laboris nisi ut aliquip ex ea commodo consequat.</ol>
            <ol>&#x2713 Duis aute irure dolor in reprehenderit in voluptate velit.</ol>
            <ol>&#x2713 lure at voluptas aspernatur dignissimos doloribus repudiandae.</ol>
            <ol>&#x2713 Est ipsa assumenda id facilis nesciunt placeat sed doloribus praesentium.</ol>
            <ol class="buttomtext">Voluptas nisi in quia excepturi nihil voluptas nam et ut. Expedita omnis eum consequatur non. Sed<br> in asperiores aut repellendus. Error quisquam ab maiores. Quibusdam sit in officia</ol>
       
        </div>
    </div>
        <footer>
<div class="rights">
            <ol>&copy Copyright <b>Resi</b>. All Rights Reserved </ol>
            <ol> Designed by <a href="#">BootstrapMade</a></ol>

        </div>
        <div class="social">
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-skype"></a>
            <a href="#" class="fa fa-linkedin"></a>
        </div>
        </footer>


</body>
</html>